aside, section, figure, img{
    box-sizing: border-box;
}

body {
    background-color: #ececec;
    color: #4b4a4a;
    font-family: Verdana, Arial, sans-serif;
    padding: 3%;
    background-color: #fff;
}

h1 {
    color: #004990;
    font-weight: 700;
    font-size: 1.25em;
}
h3 {
    color: #004990;
    font-weight: 600;
    font-size: 1em;
}
h1, h3{
    margin-bottom: 2%;
}

header{
    margin-bottom: 3%;
}
header > aside {
    display: none;
}

header > img {
    display: inline-block;
    max-width: 100%;
}

section article {
    margin-bottom: 2%;
    overflow: auto;
}

section > article > img {
    float: right;
    margin-left: 1%;
}

p {
    font-size: 0.9em;
    line-height: 1.7em;
    margin-bottom: 2%;
}

main figure {
    margin-bottom: 5%;
}

main figure > img {
    max-width: 100%;
    border: 1px solid grey;
    border-radius: 5px;
}

footer {
    background-color: #004990;
    padding: .1em;
    color: #fff;
    font-size: 0.8em;
    text-align: center;
}

@media screen and (min-width: 990px) {
    header {
        overflow: auto;
    }
    header > aside {
        display: block;
        float: right;
        text-align: right;        
    }
    header > img{
        float: left;
    }
    
    main > section {
        width: 75%;
        float: left;
        padding-right: 1em;
    }

    main > aside {
        float: left;
        width: 25%;
        border-left: 1px grey solid;
        padding-left: 1em;
    }
    main figure {
        display: block;
        float: left;
        width: 33%;
        text-align: center;
        margin-bottom: 0;
    }
    main figure > img {
        max-width: 98%;
    }
    footer{
        clear: both;
    }
}