/* css reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1.2;
}
ol { 
   padding-left: 1.4em;
   list-style: decimal;
}
ul {
   padding-left: 1.4em;
   list-style: square;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
* {
   box-sizing: border-box;	
}

/* end reset browser styles */


body {
   font-family: Verdana, Arial, sans-serif;
   font-size: 1em;
   line-height: 2;
   color: dimgray;
   background: url('../images/background.gif');
}
img{
   max-width: 100%;
}
a {
   text-decoration: none;
   color: #DE5728;
}
header img{
   border-radius: 20px;
   display: block;
}
article{
   margin: 0.5em;
   padding: 0.5em;
   background-color: white;
   border: 1px solid black;
}
h2{
   color: #DE5728;
   margin-bottom: .25em;
   font-size: 1.25em
}
article img:first-child{
   float: left;
   margin-right: 1em;
}
footer{
   background-color: #DE5728;
   text-align: center;
   color: white;
}

@media screen and (max-width: 768px) {
   header img, nav{      
      margin: 1em auto;
   }   
   nav {
      background-color: #DE5728;
      width: 90%;
      border-radius: 10px;      
      position: relative;
   }
   nav > a {
      display: block;
      background: url(../images/menu-icon.png) no-repeat;
      color: white;
      padding: 0.25em 3em;
   }
   nav ul {
      position: absolute;
      display: none;
      left: 0em;
      top: 2.5em;
      padding: 1em;
      background-color: white;
      width: 100%;
      z-index: 100;
   }
   nav:hover ul {
      display: block;
   }
   nav ul li {
      list-style-type: none;
   }
   nav li a {
      display: block;
      border-radius: 10px;      
   }
   nav ul li a:hover {
      font-weight: bold;
   }
}

@media (min-width: 769px){
   header, main, footer p{
      max-width: 900px;
      margin: 0 auto;
   }
   header{
      overflow: hidden;
   }
   header img{
      margin: 1%;
      float: left;
   }
   nav {
      margin-left: 45%;
      margin-top: 6em;
   }
   nav > a {
      display: none;
   }
   nav ul li {
      float: left;
      list-style-type: none;
      padding: 0.5em 1em;
   }
   nav ul li a{
      color: #666;
   }
   nav ul li a:hover {
      color: #000;
   }
   a.active {
      color: #DE5728;
   }
   main > section{
      width: 70%;
      float: right;
   }
   main > aside{
      width: 30%;
      float:left;
   }      
   footer{
      clear: both;
   }
}