/* css reset */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1.2;
}
ol { 
   padding-left: 1.4em;
   list-style: decimal;
}
ul {
   padding-left: 1.4em;
   list-style: square;
}
table {
   border-collapse: collapse;
   border-spacing: 0;
}
* {
   box-sizing: border-box;	
}

/* end reset browser styles */


body {
   font-family: Verdana, Arial, sans-serif;
   font-size: 1em;
   line-height: 2;
   color: dimgray;
   background: url('../images/background.gif');
}
img{
   max-width: 100%;
}
a {
   text-decoration: none;
   color: #DE5728;
}
header img{
   border-radius: 20px;
   display: block;
}
article{
   margin: 0.5em;
   padding: 0.5em;
   background-color: white;
   border: 1px solid black;
}
h2{
   color: #DE5728;
   margin-bottom: .25em;
   font-size: 1.25em
}
article img:first-child{
   float: left;
   margin-right: 1em;
}
footer{
   background-color: #DE5728;
   text-align: center;
   color: white;
}
@media screen and (max-width: 768px){
   header img, header nav{
      margin: 1em auto;
   }
   header nav{
      background-color: #de5728;
      width: 90%;
      border-radius: 10px;
   }
   header nav > a{
      color: white;
      background: url(../images/menu-icon.png) no-repeat;
      padding: .25em 3em;
      display: inline-block;
   }
   header nav ul{
      background-color: white;
      list-style-type: none;
      position: absolute;
      width: 100%;
      display: none;
   }
   header nav:hover ul{
      display:block;
   }
   header nav li a:hover{
      font-weight:bold;
   }
}
@media screen and (min-width: 769px){
   header, main, footer p{
      max-width: 900px;
      margin: 0 auto;
   }
   header{
      overflow: hidden;
   }
   header img{
      float:left;
      margin: 1%;
   }
   header nav > a{
      display: none;
   }
   header nav li{
      list-style-type: none;
      float:left;
      padding:.5em 1em;
   }
   header nav{
      margin-left: 45%;
      margin-top: 6em;
   }
   header nav a{
      color: #666;
   }
   header nav a:hover{
      color: black;
   }
   a.active{
      color: #de5728;
   }
   main > section{
      float: right;
      width: 70%;
   }
   main > aside{
      float: left;
      width: 30%;
   }
   footer{
      clear:both;
   }
}